html{
 	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
    background:url("http://i.imgur.com/mxfHgnW.jpg");
     }   
     
     

.ui-inputfield {
    font-weight: normal;

    outline: medium none;
    width: 100%;
    margin-left: 5%;
}
.ui-corner-top{
	font-size: 25px;
}
.ui-column-title{
	font-size: 20px;
}
td{
	font-size: 18px;
	text-align: center;
}
.logo{
text-shadow:1px 1px 1px rgba(133,96,24,1);
font-weight:normal;
font-style:italic;
color:#FCC381;
letter-spacing:8pt;
word-spacing:6pt;
font-size:86px;
text-align:center;
font-family:impact, sans-serif;
line-height:1;
margin:auto;

}

.buttonLeft{
	"float:left;font-size:15px; margin-top:20px;"
}
.buttonRight
{
	"float:right;font-size:15px; margin-top:20px;"
}

	
	}
